apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{&clusterUrl}}
  name: {{&clusterName}}
contexts:
- context:
    cluster: {{&clusterName}}
    user: {{&user}}
  name: {{&clusterName}}
current-context: {{&clusterName}}
kind: Config
preferences: {}
users:
- name: {{&user}}
  user:
    auth-provider:
      config:
        access-token: {{&accessToken}}
        apiserver-id: {{&apiserverAppId}}
        client-id: {{&kubectlAppId}}
        expires-in: "{{&expiresIn}}"
        expires-on: "{{&expiresOn}}"
        refresh-token: {{&refreshToken}}
        tenant-id: {{&tenantId}}
      name: azure